{% extends 'partials/body/sections/work/work_tiles/_work_experience.html' %}

{% block list_body %}
  <li>Provided one-on-one tutoring sessions in Math and English, for
  student in 11th grade living internationally.</li>
  <li>Developed training materials, such as handouts, study materials and
  quizzes.</li>
  <li>Instructed students and supported understanding of math concepts.</li>
  <li>Obtained feedback from parents to develop tutoring sessions focused
  on enhancing student learning.</li>
  <li>Guided students through various steps in writing process including,
  brainstorming, outlining, writing, and revising.</li>
{% endblock %}
