{% extends 'partials/body/sections/work/work_tiles/_work_experience.html' %}




{% block list_body %}
  <li>Founded a fundraiser to collect and sell student made artwork to raise
  money for Coronavirus Pandemic relief and support current
  movements such as Black Lives Matter.</li>
  <li>Developed the backend as well as the frontend of the online product.</li>
  <li>Created and maintained a website store to display and sell artwork as
  well as show appreciation to student artists.</li>
  <li>Reached out and secured sponsorship/donations from companies in
  the respective art industry.</li>
  <li>Created online social media campaigns on Instagram and Facebook
  media platforms, offering insightful content designed to highlight
  organizational values and attract student artist's and art admirers.</li>
{% endblock %}
