{% extends '/partials/body/sections/education/_education_tile.html' %}

{% set title='Mark Twain Middle School' %}
{% set subject='Computer/Math Talent' %}
{% set date='September 2015 - June 2018' %}

{% block school_body %}

<ul>
  <li><b>GPA: </b>4.0</li>
  <li>Completed courses in computer science, web development and design</li>
  <ul>
    <li>Web developmet 101, Grade 99 (Sept 2017 - June 2018)</li>
    <li>Graphic design, Grade 99 (Sept 2016 - June 2017)</li>
    <li>Computer Basics, Grade 95 (Sept 2015 - June 2016)</li>
  </ul>
</ul>

{% endblock %}
