{% extends '/partials/body/sections/education/_education_tile.html' %}

{% set title='Stuyvesant High School' %}
{% set subject='Computer Science' %}
{% set date='September 2018 - June 2022' %}

{% block school_body %}

<ul>
  <li><b>GPA: </b>3.7</li>
  <li>Currently completing courses in computer science, systems and statistics</li>
  <ul>
    <li>AP Comp Sci., Grade 95 (Sept 2020 - present)</li>
    <li>Annual Comp Sci., Grade 98 (Sept 2019 - June 2020)</li>
  </ul>
  <li>Quarterback on the school footbal team (2018 - present)</li>
  <ul>
    <li> Captain of the team (2019 - present) </li>
  </ul>
  <li>Memeber of Junion State of America (2019 - present)</li>
  <li>Director of props, Stuyvesant SING! (2020)</li>

</ul>

{% endblock %}
