{% extends 'partials/body/sections/work/work_tiles/_work_experience.html' %}

{% block list_body %}
  <li>Learned and contributed to a Django project comprised primarily of
Python, Javascript, and HTML</li>
  <li>Helped made the code base robust by writing unit tests for various
  parts of the system in order to alleviate bugs and troubleshoot issues.</li>
  <li>Learned and contributed to a Django project comprised primarily of
    Python, Javascript, and HTML</li>
  <li>Resolved customer issues by establishing workarounds and solutions
  and by debugging and creating defect fixes.</li>
  <li>Learned and used industry standard tools such as Slack, Jira
  management system, CircleCI, GitHub, and Sentry error monitoring
  software.</li>
{% endblock %}
