{% extends 'partials/body/sections/work/work_tiles/_work_experience.html' %}

{% block list_body %}
  <li>Started the Non-Profit and developed the core application and feature
  set.</li>
  <li>Developed the backend as well as the frontend of the online product.</li>
  <li>Developed organizational vision, mission and foundational structure
  to facilitate early growth.</li>
  <li>Recruited a team of highly capable and motivated students to help
  facilitate the daily operations and enhancement of the product.</li>
  <li>Monitored and assigned tasks to different teams based on experience
  and needs of the organization.</li>
  <li>Supervised 3 team members, offering constructive feedback on work
  performance.</li>
  <li>Administered day-to-day operations, including team management,
  product development, and business growth.</li>
  <li>Drove efforts to secure grants and funding from various sources.</li>
{% endblock %}
