<link rel="stylesheet" href="static/css/sticky_nav_bar.css">
<script type="text/javascript" src="static/js/sticky_nav_bar.js">

</script>
<!-- name banner -->
<div class="name_banner">
  <!-- flickering name sign -->
  <h1 spellcheck="false">Esteak Shapin</h1>
</div>

<!-- transitioning navbar -->
<div class="navbar">
  <h2>Software Developer</h2>
</div>
<!--
<div class="sticky-navbar">

  <div class="nav_title">
    <span>Esteak Shapin</span>
  </div>

  <div class="nav_items">
    {% with nav_item_title='About' %}
      {% include "/partials/navbar/_nav_item.html" %}
    {% endwith %}
    {% with nav_item_title='Work' %}
      {% include "/partials/navbar/_nav_item.html" %}
    {% endwith %}
    {% with nav_item_title='Skills' %}
      {% include "/partials/navbar/_nav_item.html" %}
    {% endwith %}
    {% with nav_item_title='School' %}
      {% include "/partials/navbar/_nav_item.html" %}
    {% endwith %}
    {% with nav_item_title='Projects' %}
      {% include "/partials/navbar/_nav_item.html" %}
    {% endwith %}
  </div>

</div> -->
