{% extends "/partials/body/sections/projects/_projects_tile.html" %}

{% set title="Acqua Fonte" %}
{% set project_img="static/resources/acqua-fonte.png" %}
{% set status="In Progress" %}
{% set link="https://www.acqua-fonte.com/" %}

{% block tags %}

{% with title='Flask', tag_color='var(--projects-tag-flask)'%}
  {% include 'partials/body/sections/projects/_projects_tags.html' %}
{% endwith %}

{% with title='G-Map', tag_color='var(--projects-tag-gmap)'%}
  {% include 'partials/body/sections/projects/_projects_tags.html' %}
{% endwith %}

{% with title='JQuery', tag_color='var(--projects-tag-jquery)'%}
  {% include 'partials/body/sections/projects/_projects_tags.html' %}
{% endwith %}

{% endblock %}

{% block extended_info %}
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
{% endblock %}
